.g,.o,.o1,.g1,.l,.e{

    display:inline-block;
    font-size: 70px;
    font-stretch:ultra-condensed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    position: relative;
    top:200px;
    bottom:450px;
    left:500px;
    right:350px;
    
}
.g{
    color:rgb(0, 174, 255);
}
.o{
    color:rgba(255, 83, 30, 0.938);
}
.o1{
    color: rgba(231, 128, 10, 0.938);
}
.g1{
    color:rgb(0, 174, 255);
}
.l{
    color:green;
}
.e{
    color:rgba(255, 83, 30, 0.938);
}


.Gmail{
    display:inline-block;
    position: relative;
    font-size: 15px;
    text-align: right;
    left:1100px;
}
.Images{
    display:inline-block;
    position: relative;
    font-size: 15px;
    text-align: right;
    left:1108px;
}
.search{
    position:relative;
    left:425px;
    top:210px;
}
.sign{
    display: inline;
    position: relative;
    top:1px;
    left:1110px;
    text-decoration-line: underline;
    color:white;
}